<div>
    <h3>Welcome</h3> 
    <div>
        <div class="topnav">
            <a class="active"><button (click)="logout()">Logout</button>
              </a>
              </div>
        <table class="table">
            
            <tr>
                <th scope="row"> S.No</th>
                <th scope="row">Policy Name</th>
                <th scope="row">Policy Details</th>
                <th scope="row">  </th>
            </tr>
        
        <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Dental Plus Premium Policy</td>
              <td>This policy covers tooth implementation and other dental surgeries</td>
              <td><input type = "submit" class = "btn btn-primary" value = "ADD"> </td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Orthopedic premium policy</td>
              <td>This policy includes treatment of bone injuries</td>
              <td><input type = "submit" class = "btn btn-primary" value = "ADD"></td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Cardiac Insurance policy</td>
              <td>This policy covers heart surgeries</td>
              <td><input type = "submit" class = "btn btn-primary" value = "ADD"></td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>Ophthalmology premium policy</td>
                <td>This policy includes covers lasik treatment,cataract treatment</td>
                <td><input type = "submit" class = "btn btn-primary" value = "ADD"></td>
              </tr>
              <tr>
                <th scope="row">5</th>
                <td> Lung Insurance policy</td>
                <td>This policy covers lung transplantation.</td>
                <td><input type = "submit" class = "btn btn-primary" value = "ADD"></td>
              </tr>
          </tbody>
        </table>
      </div>
</div>
